@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  /* height: 100vh; */
  box-sizing: border-box;
  background-color: #000000;
  color: #f6f6f6;
}

.page_header__menu__link {
  font-family: "Montserrat", sans-seri;
  font-size: 24px;
  font-weight: 600px;
  color: #22d4fd;
}

.presentation {
  margin: 11% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.presentation__content__title {
  font-size: 36px;
  font-family: "Krona One", sans-serif;
}

.title-highlight {
  color: #22d4fd;
}

.presentation__content__text {
  font-size: 24px;
  font-family: "Montserrat", sans-seri;
}
.presentation__content {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.presentation__img {
  width: 400px; /* Altere o valor para o tamanho desejado */
}

.presentation__content_links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.presentation__content_links_subtitle {
  font-family: "Krona One", sans-serif;
  font-weight: 400px;
  font-size: 24px;
}

.presentation__content_links_bt {
  /* background-color: #22d4fd; */
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 378px;
  text-align: center;
  border-radius: 8px;
  border: 2px solid #22d4fd;
  font-size: 24px;
  padding: 21.5px 0;
  text-decoration: none;
  color: #f6f6f6;
  font-family: "Montserrat", sans-seri;
  font-weight: 600px;
}

.presentation__content_links_bt:hover {
  background-color: #272727;
}

.page_footer {
  padding: 24px;
  color: #000000;
  background-color: #22d4fd;
  text-align: center;
  font-family: "Montserrat", sans-seri;
  font-size: 24px;
  font-weight: 400px;
}
