@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

:root {
  --first-color: #000000;
  --second-color: #f6f6f6;
  --third-color: #22d4fd;
  --fourth-color: #272727;
  --first-font: "Krona One", sans-serif;
  --second-font: "Montserrat", sans-seri;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--first-color);
  color: var(--second-color);
}

.page_header {
  padding: 2% 0% 0% 15%;
}

.page_header__menu {
  display: flex;
  gap: 80px;
}

.page_header__menu__link {
  font-family: var(--second-font);
  font-size: 24px;
  font-weight: 600px;
  color: var(--third-color);
  text-decoration: none;
}

.presentation {
  margin: 10% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.presentation__content__title {
  font-size: 36px;
  font-family: var(--first-font);
}

.title-highlight {
  color: var(--third-color);
}

.presentation__content__text {
  font-size: 24px;
  font-family: var(--second-font);
}
.presentation__content {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.presentation__img {
  width: 400px;
}

.presentation__content_links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.presentation__content_links_subtitle {
  font-family: var(--first-font);
  font-weight: 400px;
  font-size: 24px;
}

.presentation__content_links_bt {
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 378px;
  text-align: center;
  border-radius: 8px;
  border: 2px solid var(--third-color);
  font-size: 24px;
  padding: 21.5px 0;
  text-decoration: none;
  color: var(--second-color);
  font-family: var(--second-font);
  font-weight: 600px;
}

.presentation__content_links_bt:hover {
  background-color: var(--fourth-color);
}

.page_footer {
  padding: 2%;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: var(--first-color);
  background-color: var(--third-color);
  text-align: center;
  font-family: var(--second-font);
  font-size: 24px;
  font-weight: 400px;
}
